:root {
  --outer-padding: 1em;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  top: calc(8em - 4 * var(--outer-padding));
  right: 18.5rem;

  width: 20rem;
  height: auto;

  margin-right: -20rem;
  padding: var(--outer-padding);

  background: white;
  border: 1px solid #d7d7d7;
}

.shopping-cart__empty-notice {
  font-weight: lighter;
  font-style: italic;
}

.shopping-cart__product {
  padding: 0.2rem 0.5rem;

  width: 100%;
}

.shopping-cart__product > span {
  display: flex;
  align-items: center;

  height: 2rem;
}

.shopping-cart__product input,
button {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0.4rem;

  height: 2rem;
  width: 4rem;
}

.shopping-cart__product-title {
  display: block;
}
