:root {
  --outer-padding: 1em;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 3.5rem;
  right: 20rem;

  width: 30rem;
  height: auto;

  margin-right: -20rem;
  padding: var(--outer-padding);

  background: white;
  border: 1px solid #d7d7d7;
}

.shopping-cart > div:first-of-type {
  overflow-x: hidden;
  overflow-y: scroll;
}

.shopping-cart > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.shopping-cart__empty-notice {
  font-weight: lighter;
  font-style: italic;
}

.shopping-cart__product {
  padding: 0.2rem 0.5rem;
  margin: 1em;

  width: 100%;
}

.shopping-cart__product > span {
  display: flex;
  align-items: center;

  height: 2rem;
}

.shopping-cart__product input,
button {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0.4rem;

  height: 2rem;
  width: 4rem;
}

.shopping-cart__product-title {
  display: block;
}
