.product-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.shopping-cart__button {
  height: 2.5rem;
  width: auto;
}

.sort-cart-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;

  height: 2.5em;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
}
